section div p{
    color: #3f51b5;
    font-size: 30px;
}
 
section div + p{
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

mat-tab-group {
    text-align: center;
}
 
mat-tab-group p {
    padding-top: 20px;
}

  #wrapper {
    display: flex;
  }
  
  #left {
    font-family: "Helvetica Neue", Roboto, sans-serif;
    flex: 0 0 7%;
  }
  
  #right {
    flex: 1;
    width: 90%;
    margin: auto;
  }